nav{
    background-color:#efefef;
}

/** HEADER ******************************************************** **/

header{
    margin-top:50px;
    display:block;
    padding: 20px;
    text-align:center;
}

#profil{
    margin-top:50px;
    position:absolute;
    top:100px;
	right:50px;
    height:200px;
    width:200px;
    border-radius: 10px;
}

/** INFO ******************************************************** **/

info{
    margin-top:50px;
    position:fixed;
    top:100px;
	left:50px;
    padding:10px;
    border-radius:5px;
    background-color:rgba(160, 160, 160, 0.75);
}

/** CV ******************************************************** **/

cv{
    display:block;
    margin-left:300px;
    margin-right:300px;
    margin-bottom:50px;
}

h4{
    font-style:italic;
}

#date{
    display:inline;
    text-decoration:underline;
}

#name{
    display:inline;
    font-weight:bold;
}

#unit{
    padding:10px;
}

/** FORMATION ************************** **/

/** EXPERIENCES ************************** **/

/** COMPETENCES ************************** **/

/** LANGUES ************************** **/

/** INTERETS ************************** **/

