@charset "utf-8";
/* 	javaML.css 
	CSS Document pour JAVAML
*/

/* I. Marquage (border, color) */
/* II. Placement (display, float, clear, position, margin) */
/* III. Finition (css3, margin, pading, font-size) */

	
/* classe */
cla {
	margin:50px;
	border:5px blue solid;
	display:block;
}

com:before{
	font-size:30px;
	content:"/*"attr(com)"*/";
	padding:5px;
	padding-left:20px; 
}

/* commentaires */
com {
	display:block;
	background-color:#090;
	color:#FFF;
}

com>p{
	font-size:0pt;
	opacity:0,1;
	width:0;
	overflow:hidden;
}

com:hover>p{
	font-size:100%;
	opacity:1;
	width:100%;
	overflow:visible;
}

/* commentaires sur une ligne */
coml {
	margin:50px;
	color:#C3C;
}

/* methodes */
met {
	border:5px red solid;
	border-radius:20px;
	background-color:yellow;
	margin:50px;
	display:block;
}

/* paragraphes */
p {
	display:block;
}

/* numeros de lignes */
lig {
	color: white;
	background-color:red;
	display:block;
	position:absolute;
	left:0px;
}

/* mots cle */
span.Motcle {
	color:#F00;
	margin:50px;
	font-style:red;
}

/* bloc entre acolades */
bloc {
	display:block;
}

/* acolades */
acc {
	margin:50px;
}