/** LIENS ******************************************************** **/

links{
    position:absolute;
    z-index:3;
    top:20px;
	right:20px;
}

links img{
    height:50px;
    width:50px;
}

/** AVATAR & HEADER ********************************************************* **/

avatar{
    position:absolute;
    top:50px;
	left:30px;
}

avatar img{
    border: 5px solid #fff;
    border-radius: 10px;
    height:225px;
    width:325px;
}

header{
    width:auto;
    height:100%;
    height:200px;
    background-color:rgba(255, 255, 255, 0.95);
    background-image:url(../images/head.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:bottom;
}

/** CONTENT ********************************************************* **/

.navbar{
    margin:0px;
    margin-left:355px;
}

content{
    display:block;
    margin-left: 0px;
    margin-right: 0px;
    height:auto;
    text-align:center;
}

#carousel{
    margin-left:auto;
}

#imgCar{
    margin-left:auto;
    margin-right:auto;
}

#imgCar, #carousel{
    height:300px;
    width:500px;    
}

#capCar{
    border-radius:5px;
    background-color:rgba(255, 255, 255, 0.75);
}

/** FOOTER ******************************************************** **/

footer{
    position:absolute;
    top:100px;
	right:20px;
    padding:5px;
    border-radius:5px;
    background-color:rgba(255, 255, 255, 0.75);
}

footer #heberg,#admin{
    text-align:right;
}

footer #warning{
    display:inline;
    text-decoration:underline;
    font-weight: bold;
}

footer a{
    color:#001dff;
    font-weight: bold;
}
