/** IMPORT ******************************************************** **/

@import "style.css";

/** LIENS ******************************************************** **/

links{
    position:absolute;
    top:20px;
	right:20px;
}

links img{
    height:60px;
    width:60px;
}

/** HEADER ********************************************************* **/

header{
    padding:60px;
    width: 700px;
}

#title{
    font-size: 60px;
}

#tagline{
    font-style:italic;
    font-size: 20px;
    padding-left:3em;
}

/** CONTENT ********************************************************* **/

content{
    display:block;
    margin-left: 0px;
    margin-right: 0px;
    height:400px;
    text-align:center;
    background-color:rgba(255, 255, 255, 0.95);
}

content *{
    position:relative;
    top:150px;
    /*vertical-align:middle; ** marche pas */
}

/** FOOTER ******************************************************** **/

footer{
    position:absolute;
    bottom:20px;
	right:20px;
}

footer #heberg,#admin{
    text-align:right;
}

footer #warning{
    display:inline;
    text-decoration:underline;
    font-weight: bold;
}

footer a{
    color:#d00000;
    font-weight: bold;
}
